#! /bin/sh
#
#   Licensed to the Apache Software Foundation (ASF) under one or more
#   ...
#   This script was modified by ChunXin <484299@qq.com>, 2021/09

DOCWARE_HOME="/usr/local/docware"

JAVA_HOME="$DOCWARE_HOME/jre-8u301-linux-x64/jre1.8.0_301"
FOP_HOME="$DOCWARE_HOME/fop-2.6-bin/fop"
XSL_EXTENSIONS="$DOCWARE_HOME/docbook-xsl-1.79./extensions"

CLASSPATH="$CLASSPATH:\
$FOP_HOME/build/fop.jar:\
$FOP_HOME/build/fop-hyph.jar:\
$FOP_HOME/lib/batik-all-1.14.jar:\
$FOP_HOME/lib/commons-io-1.3.1.jar:\
$FOP_HOME/lib/commons-logging-1.0.4.jar:\
$FOP_HOME/lib/fontbox-2.0.19.jar:\
$FOP_HOME/lib/serializer-2.7.2.jar:\
$FOP_HOME/lib/xalan-2.7.2.jar:\
$FOP_HOME/lib/xercesImpl-2.12.0.jar:\
$FOP_HOME/lib/xml-apis-1.4.01.jar:\
$FOP_HOME/lib/xml-apis-ext-1.3.04.jar:\
$FOP_HOME/lib/xmlgraphics-commons-2.6.jar"

export JAVA_HOME FOP_HOME XSL_EXTENSIONS CLASSPATH
